@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --background-color: #EDECF8;
  --foreground-color: #363740;
  --button-color: #46459E;
  --pink-light-color: #E3B9E6;
  --gray-light-color: #9A9DAA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #f7f3f7, #dde2fc);
  font-family: 'Poppins', sans-serif;
  color: var(--foreground-color);
}

.register-page {
  display: flex;
  height: 100vh;
}

.register-page__hero {
  display: flex;
  flex-basis: 55%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}

.register-page__main {
  display: flex;
  background-color: var(--button-color);
  padding: 0 4rem;
  color: var(--background-color);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 45%;
}

.register-page__main h2 {
  font-size: 46px;
  font-weight: 500;
  align-items: flex-start;
}

.register-page__quote {
  font-size: 20px;
  font-weight: 300;
}

.register-page__text {
  font-size: 16px;
  color: white;
}

.register-input {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px 0 12px 0;
}

.register-input input {
  padding: 14px 20px;
  font-size: 1rem;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
}

.register-input input:focus {
  outline: none;
}

.register-input button {
  margin: 8px 0;
  padding: 14px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--pink-light-color);
  font-size: 1rem;
  color: var(--background-color);
  cursor: pointer;
  font-weight: 700;
  color: var(--foreground-color);
}

.login-page {
  display: flex;
  height: 100vh;
}

.login-page__hero {
  display: flex;
  flex-basis: 55%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}

.login-page__main {
  display: flex;
  background-color: var(--button-color);
  padding: 0 4rem;
  color: var(--background-color);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 45%;
}

.login-page__main h2 {
  font-size: 46px;
  font-weight: 500;
  align-items: flex-start;
}

.login-page__quote {
  font-size: 20px;
  font-weight: 300;
}

.login-page__text {
  font-size: 16px;
  color: white;
}

.login-input {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px 0 12px 0;
}

.login-input input {
  padding: 14px 20px;
  font-size: 1rem;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
}

.login-input input:focus {
  outline: none;
}

.login-input button {
  margin: 8px 0;
  padding: 14px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--pink-light-color);
  font-size: 1rem;
  color: var(--background-color);
  cursor: pointer;
  font-weight: 700;
  color: var(--foreground-color);
}


/* navigation */
.navigation {
  display: flex;
  background-color: #ffffff;
  padding: 15px 10%;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.navigation h2 {
  color: var(--button-color);
  font-size: 32px;
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: var(--foreground-color);
  font-size: 18px;
  font-weight: 600;
  color: var(--button-color);
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--foreground-color);
}

.nav__user-info {
  display: flex;
  align-items: center;
}

.nav__user-info img {
  width: 40px;
  border-radius: 20px;
  margin: 0 20px;
}

.nav__user-info button {
  background-color: var(--pink-light-color);
  border: none;
  padding: 9px 14px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  color: var(--foreground-color);
  cursor: pointer;
}


/* Thread */
.threads-list {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.thread-item {
  background-color: #ffffff;
  margin-top: 14px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.thread-item__title h3 {
  color: var(--foreground-color);
  font-size: 32px;
  margin-bottom: 15px;
}

.thread-item__detail header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 0;
}

.thread-item__header-left {
  display: flex;
  align-items: center;
}

.thread-item__user-avatar img {
  border-radius: 10px;
}

.thread-item__user-info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.thread-item__user-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--foreground-color);
}

.thread-item__created-at {
  color: var(--gray-light-color);
  font-size: 13px;
}

.thread-item__category {
  border: 2px solid #E3B9E6;
  padding: 5px 15px ;
  font-size: 14px;
  border-radius: 20px;
  background-color: #fcedfd;
}

.thread-item__body {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
}

hr {
  margin: 30px 0 10px 0;
}

.thread-item__footer {
  display: flex;
  align-items: center;
}

.thread-item__upvotes-thread p {
  font-size: 18px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.thread-item__upvotes-thread button {
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  margin-right: 2px;
}

.thread-item__downvotes-thread p {
  font-size: 18px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.thread-item__downvotes-thread button {
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  margin-right: 2px;
}

.thread-item__total-comments {
  font-size: 20px;
}

.thread__add {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 32px;
  right: 32px;
}

.thread__add button {
  background-color: var(--button-color);
  padding: 0.5rem 1.1rem;
  font-size: 38px;
  border: none;
  border-radius: 27%;
  color: var(--background-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.thread-input-page {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 1rem auto;
  padding: 3rem;
  border-radius: 8px;
}

.thread-input-page h2 {
  color: var(--button-color);
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.thread-input-form {
  display: flex;
  flex-direction: column; 
}

.thread-input-form input {
  font-size: 24px;
  padding: 0.6rem;
  border: 1px solid #46459E;
  border-radius: 6px;
  margin-bottom: 10px;
  color: var(--button-color);
  background-color: #fef7fe;
}

.thread-input-form input:focus {
  outline: #46459E;
}

.thread-input__body {
  border: 1px solid #46459E;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  height: 200px;
  font-size: 20px;
  padding: 0.6rem;
  color: var(--button-color);
  background-color: #fef7fe;
}

.thread-input__body:focus {
  outline: #46459E;
}

.thread-input-form button {
  padding: 0.8rem;
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  background-color: var(--pink-light-color);
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.detail-page {
  max-width: 960px;
  margin: 1rem auto;
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 10px;
}

.thread-detail {
  margin-bottom: 3rem;  
}

.thread-detail__title h3 {
  font-size: 36px;
  font-weight: 600;
}

.thread-detail-item {
  margin: 1.7rem 0;
}

.thread-detail-item header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.thread-detail__header-left {
  display: flex;
  align-items: center;
}

.thread-detail__owner-avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.thread-detail__owner-info {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.thread-detail__owner-name {
  font-size: 26px;
  font-weight: 500;
}

.thread-detail__created-at {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-light-color);
}

.thread-detail__category {
  border: 2px solid #E3B9E6;
  padding: 5px 15px ;
  font-size: 14px;
  border-radius: 20px;
  background-color: #fcedfd;
  margin-right: 1rem;
}

.thread-detail__body {
  margin: 2rem 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--foreground-color);
}

.thread-detail__footer {
  display: flex;
}

.thread-detail__upvotes-thread {
  margin-right: 1.2rem;
}

.thread-detail__upvotes-thread p {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.thread-detail__upvotes-thread button {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.thread-detail__downvotes-thread p {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.thread-detail__downvotes-thread button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.comment-input {
  display: flex;
}

.comment-input__field {
  width: 90%;
  font-size: 18px;
  max-height: 250px;
  margin-right: 10px;
  overflow: auto;
  padding: 10px;
  border: solid 2px #46459E;
  border-radius: 8px;
}

.comment-input__field:focus {
  outline: #46459E;
}

[contentEditable=true]:empty:before {
  content: attr(data-placeholder);
  opacity: 0.6;
}

.comment-input button {
  width: 50px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background-color: #46459E;
  color: #ffffff;
  font-size: 32px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.comment-list {
  margin: 30px 0;
}

.comment-list hr {
  margin: 0;
}

.comment-item {
  margin: 35px 0 15px 0;
}

.comment-item__header {
  display: flex;
  justify-content: space-between;
}

.comment-item__owner-info {
  display: flex;
  align-items: center;
}

.comment-item__owner-info img {
  border-radius: 10px;
  width: 40px;
  margin-right: 10px;
}

.comment-item__owner-info p {
  font-size: 22px;
  font-weight: 500;
}

.posted-at {
  font-size: 16px;
  color: var(--foreground-color);
  font-weight: 500;
}

.comment-item__content {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 400;
}

.comment-item__footer {
  display: flex;
  margin: 5px 0;
}

.comment-item__upvotes {
  margin-right: 10px;
  display: flex;
}

.comment-item__upvotes p {
  display: flex;
  align-items: center;
}

.comment-item__upvotes button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.comment-item__downvotes {
  display: flex;
}

.comment-item__downvotes p {
  display: flex;
  align-items: center;
}

.comment-item__downvotes button {
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}